<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>TodoList</title>
  </head>

  
  <body>
    <section id="header">
      <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <% if(locals.tab && locals.active){ %>
              <% if(tab == "today") {%>
                <li class="<%= active %>  nav-item" ><a href="/" class="nav-link text-light" >Today</a></li>
                <li class="nav-item" ><a href="/work" class="nav-link text-dark" >Work</a></li>
              <% }else{ %>
                <li class="nav-item" ><a href="/" class=" nav-link text-dark" >Today</a></li>
                <li class="nav-item <%= active %>" id="work-section"><a href="/work" class="nav-link text-light">Work</a></li>
              <%} %>
            <% } else{ %>
              <li class="nav-item" ><a href="/" class="nav-link text-dark" >Today</a></li>
              <li class="nav-item"><a href="/work" class="nav-link text-dark" >Work</a></li>
            <% } %>
          </ul>
        </header>
      </div>
    </section>  
    <section id="main">       

