<%- include("partials/header.ejs") %>
  <div class="container d-flex justify-content-center">
    <form class="row user-input w-50" action="/add_task_today" method="POST">
        <input name="newTask" type="text" id="new-task" placeholder="What will you do today?" class="col-8">
        <input type="submit" id="submit" class="col-4 text-light" value="+">
    </form>
  </div>
  
  <div class="container m-5 d-flex justify-content-center">
    <% if(locals.todaysTask){ %>
      <div class="row w-50">
        <% for (let i = 0; i < todaysTask.length; i++) { %>
          <div class="task col-12 bg-white p-2">
              <input type="checkbox" class="check" data-text-id="<%= i %>">
              <span class="task-text"><%= todaysTask[i] %></span>
          </div>
      <% } %>
      
      </div>
    <% } %>
  </div>
<%- include("partials/footer.ejs") %>