<%- include("partials/header.ejs") %>
  
  <div>
    <input name="task" type="text" placeholder="What will you do today?">
    <button type="submit">ADD</button>
  </div>
<%- include("partials/footer.ejs") %>