<%- include("partials/header.ejs") %>
  <h1 class="mb-5 text-light fw-bolder">Work List</h1>
  <div class="container d-flex justify-content-center">
    <form class="row user-input w-50 shadow rounded-1" action="/add_task_work" method="POST">
        <input name="newTask" type="text" id="new-task" placeholder="What will you do today?" class="col-8 rounded-start-2">
        <input type="submit" id="submit" class="col-4 text-light rounded-end-2" value="+">
    </form>
  </div>
  
  <div class="container m-5 d-flex justify-content-center">
    <% if(locals.worksTask){ %>
      <div class="row w-50 shadow">
        <% for(let i = 0; i < worksTask.length; i++){ %>
          <div class="task col-12 bg-white p-2 border-bottom">
            <input type="checkbox" class="check" data-text-id="<%= i %>">
            <span class="task-text"><%= worksTask[i] %></span>
        </div>
        <% } %>
      </div>
    <% } %>
  </div>
<%- include("partials/footer.ejs") %>