<%- include("partials/header.ejs") %>
  
  <div class="container d-flex justify-content-center flex-column align-items-center my-5">
    <div class="user-input">
        <input name="task" type="text" id="new-task" placeholder="What will you do today?">
        <button type="submit" id="submit">ADD</button>
    </div>
  </div>
  <ul class="container d-flex flex-column align-items-center">
    <li class="task"><input type="checkbox"> Task 1</li>
    <li class="task"><input type="checkbox"> Task 2</li>
    <li class="task"><input type="checkbox"> Task 3</li>
  </ul>
<%- include("partials/footer.ejs") %>