/*Styles*/
main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    gap:10px;
    background-color: #C08261 ;
}

main #header{
    grid-column: span 3;
    padding: 2px;
    padding-bottom: 0;
    display: flex;
    padding: 10px;
}

main #profile-image{
    grid-row: span 2;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:start;
}

main #details, main #lists{
    grid-column:span 2;
    margin-right: 10px;
    padding: 10px;
    
}

#profile-image div img{
    height: 100% ;
    border-radius: 50%;
    background-color: white;
}

#profile-image div button{
    position:relative;
    right: 50px;
    top: 60px;
    height: 40px;
    width: 40px;
    border:none;
    padding: 0;
    background: none;
}

#profile-image div>button>svg{
    width: 100%;
    height: 100%;
}
#profile-image div{
    height: 25%;
    margin-top: 20px;
    border-radius: 50%;
}

#header div{
    border-radius: 50%;
    background-color: white;
    padding:5px
}

#header div a svg{
   width: 100%;
   height: 100%;
   color:black;
}
main #details{
    padding-top: 80px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
#details>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    padding-left:5px
}

#details>div>p{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bolder;
}

#details>div>button{
    height: 90%;
    width: 4%;
    margin-right: 10px;
    background: none;
    border: none;
}

#details>div>button>svg{
    height: 100%;
    width: 100%;
    min-width: 25px;
}

#see-and-submit{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 9px;
    height: 90%
}

#see-and-submit>button{
    background: none;
    border: none;
    height: 67%;
    min-width: 25px;
}

#see-and-submit>a>img{
    height: 70%;
    min-width: 15px;
}

#see-and-submit>button>svg{
    height: 100%;
    width: 80%;
}

#lists p{
    font-weight: bolder;
    height: 50px;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    background-color: #9A3B3B;
    color:white;
}

#lists ul>div{
    list-style: none;
    padding: 10px;
    margin-left: -30px;
    border-bottom: 1px black solid;
}

#lists ul>div:last-of-type{
    border: none;
}

#lists ul{
    border-radius: 5px;
    background-color: whitesmoke;
}

#lists>ul>div>li>a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
#submit{
    background-color: #9A3B3B;
}

@media (max-width: 576px){
    main{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    #profile-image div img{
        height: 100px;
    }

    #profile-image div button{
        right: 50px;
        top: 40px;
        height: 30px;
    }

    #details>div{
        font-size: 20px;
        font-weight: bold;
    }

    #details>div>button{
        width: 10%;
        height: 60%;
        margin-right: 13px;
        background: none;
        border: none;
    }
    
    #details>div>p{
        font-size: 15px;
        font-weight: bold;
    }
    
    #details>div>button>svg{
        height: 70%;
        width: 70%;
    }

    #see-and-submit{
        margin-right: 9px;
        gap: 10px;
    }
    #see-and-submit>button{
        padding: 0px;
        height: 50%
    }
    #see-and-submit>a>img{
        height: 50%;
        min-width: 15px;
    }

    #lists p{
        font-weight: bold;
        font-size: 20px;
        padding-top: 5px;
    }

    #lists>ul>div>li>a{
        font-size: 15px;
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
     
}

@media (min-width: 576px){
    #profile-image div button{
        left: -40px;
        top: 40px;
        height: 30px;
    }

    #profile-image div img{
        height: 100px;
    }

    #details>div{
        padding-right:10px
    }

    #details>div>button{
        width: 10%;
    }

    
    #lists p{
        font-weight: bold;
        font-size: 25px;
        padding-top: 5px;
    }
}

@media (min-width:768px){
    main{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 1fr;
        gap:10px;
        background-color: #C08261 ;
    }
    
    main #header{
        grid-column: span 3;
        padding: 2px;
        padding-bottom: 0;
        display: flex;
        padding: 10px;
    }
    
    main #profile-image{
        grid-row: span 2;
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:start;
    }
    
    main #details, main #lists{
        grid-column:span 2;
        margin-right: 10px;
        padding: 10px;
        
    }
    
    #profile-image div img{
        height: 100% ;
        border-radius: 50%;
        background-color: white;
    }
    
    #profile-image div button{
        position:relative;
        right: 50px;
        top: 60px;
        height: 40px;
        width: 40px;
        border:none;
        padding: 0;
        background: none;
    }
    
    #profile-image div>button>svg{
        width: 100%;
        height: 100%;
    }
    #profile-image div{
        height: 25%;
        margin-top: 20px;
        border-radius: 50%;
    }
    
    #header div{
        border-radius: 50%;
        background-color: white;
        padding:5px
    }
    
    #header div a svg{
       width: 100%;
       height: 100%;
       color:black;
    }
    main #details{
        padding-top: 80px;
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    #details>div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: whitesmoke;
        border-radius: 5px;
        padding-left:5px
    }
    
    #details>div>p{
        margin-top: 15px;
        font-size: 20px;
        font-weight: bolder;
    }
    
    #details>div>button{
        height: 90%;
        width: 4%;
        margin-right: 10px;
        background: none;
        border: none;
    }
    
    #details>div>button>svg{
        height: 100%;
        width: 100%;
        min-width: 25px;
    }
    
    #see-and-submit{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 9px;
        height: 90%
    }
    
    #see-and-submit>button{
        background: none;
        border: none;
        height: 67%;
        min-width: 25px;
    }
    
    #see-and-submit>a>img{
        height: 70%;
        min-width: 25px;
    }
    
    #see-and-submit>button>svg{
        height: 100%;
        width: 80%;
    }
    
    #lists p{
        font-weight: bolder;
        height: 50px;
        text-align: center;
        font-size: 30px;
        border-radius: 5px;
        background-color: #9A3B3B;
        color:white;
    }
    
    #lists ul>div{
        list-style: none;
        padding: 10px;
        margin-left: -30px;
        border-bottom: 1px black solid;
    }
    
    #lists ul>div:last-of-type{
        border: none;
    }
    
    #lists ul{
        border-radius: 5px;
        background-color: whitesmoke;
    }
    
    #lists>ul>div>li>a{
        font-size: 20px;
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
    #submit{
        background-color: #9A3B3B;
    }
}

