/* *{
    border: 1px black solid;
} */

body{
    height: 100%;
    min-height: 100vh;
}

#main{
    background-color:#C08261 ;
    margin-bottom:0;
    padding-bottom: 20px;
    border-top: 1px white solid;
}

#input-task *{
   border: none;
   font-weight: bold;
}

#submit{
     background-color:#9A3B3B ;
     color:white;
}

h1{
    text-align: center;
}

#task-list{
  background-color: white;
  border-radius: 5px;
}

.active-tab{
    background-color: #9A3B3B;
    color: white;
    border-radius: 5px;
}

/* colors 
#9A3B3B
#C08261*/

@media (max-width: 576px ),  (min-width: 576px){
    #input-task *{
        border: none;
        font-weight: bold;
        font-size: 15px;
    }
    
    input.check{
        height: 15px;
        width: 15px;
    }

    #task{
        font-size: 18px;
    }
    #input-task{
        width: 90%;
    }
    #task-list{
        width: 90%;
    }
}

@media (min-width: 768px){
    #input-task *{
        border: none;
        font-weight: bold;
        font-size: 20px;
    }
    
    input.check{
        height: 20px;
        width: 20px;
    }

    #task{
        font-size: 23px;
    }
    #input-task{
        width: 70%;
    }
    #task-list{
        width: 70%;
    }
}

@media (min-width: 992px){
    #input-task *{
        border: none;
        font-weight: bold;
        font-size: 25px;
    }
    
    input.check{
        height: 25px;
        width: 25px;
    }

    #task{
        font-size: 25px;
    }
    #input-task{
        width: 50%;
    }
    #task-list{
        width: 50%;
    }
}