main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C08261 ;
    flex-direction:column;
}

#new-task, #submit{
    border: none;
    margin: 0;
}
#new-task{
    width:70%;
    height:100%;
    font-size: x-large;
}
#submit{
    width: 30%;
    height:100%;
    background-color: #9A3B3B;
    font-weight: bold;
    font-size: xx-large;
}
.user-input{
    width: 50%;
    height: 50px;
    display: flex;
}

body{
    background-color:#C08261 ;
}

.active-tab{
    background-color:#9A3B3B;
    border-radius: 5px;
}

input.check{
    width:20px;
    height: 20px;
}

.task{
    font-size:x-large;
}

@media (max-width:576px){
   .task, #new-task{
     font-size: small;
   }

   #submit{
    font-size: large;
   }
   input.check{
      width: 10px;
      height: 10px;
    }
}

@media (min-width:576px){
    .task, #new-task{
      font-size: small;
    }
    #submit{
        font-size: large;
    }
    input.check{
        width: 10px;
        height: 10px;
    }
 }

@media (min-width: 768px){
    .task, #new-task{
        font-size: medium;
    }
    #submit{
        font-size: x-large;
    }
    input.check{
        width: 16px;
        height: 16px;
    }
}

@media (min-width: 992px){
    .task, #new-task{
        font-size: x-large;
    }
    #submit{
        font-size: xx-large;
    }
    input.check{
        width:20px;
        height: 20px;
    }
}