main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C08261 ;
    flex-direction: column;
}

#new-task, #submit{
    border: none;
    margin: 0;
}
#new-task{
    width:70%;
    height:100%;
    font-size: 24px;
}
#submit{
    width: 30%;
    height:100%;
    background-color: #9A3B3B;
    color: white;
}
.user-input{
    width: 50%;
    height: 50px;
    display: flex;
}

.task{
    height: 60px;
    background-color: white;
    list-style: none;
    border-bottom: 2px black solid;
    width:50%;
    margin: 5px;
    margin-bottom:0;
    margin-top: 0;
    font-size: 25px;
    padding: 10px;
}

body{
    background-color:#C08261 ;
}

.active-tab{
    background-color:#9A3B3B;
    border-radius: 5px;
}

input.check{
    width:20px;
    height: 20px;
}
